extends ../layout

block content
  div.content-header
    div.container
      div.row.mb-2
        .col-sm-6
          h1= title
        .col-sm-6
          a(href="/" class="btn btn-default float-right") Volver
      //- if locals.message
      //-   if message.error
      //-     div(class="alert alert-danger" role="alert")
      //-       strong Ha ocurrido un error al procesar la transacción:
      //-       p Mensaje de error: #{message.error}
      //-   if message.success
      //-     div(class="alert alert-success" role="alert")
      //-       strong Transacción realizada con éxito
      //-       p= message.success
      
      .content
        //- .row
          .col-lg-12
            .card
              .card-body
                .row.justify-content-center
                  div
                    ul.nav.nav-pills.nav-fills(role="tablist")
                      li.nav-item.mx-2
                        a(class="btn btn-lg btn-default active" href="#custom-tabs-str" id="custom-tabs-form" data-toggle="pill" role="tab") STP
                      li.nav-item.mx-2
                        a(class="btn btn-lg btn-default" href="#custom-tabs-snp" id="custom-tabs-form" data-toggle="pill" role="tab") SNIP
        .row
          .col-lg-12
            ul.nav.nav-tabs(id="custom-content-below-tab" role="tablist")
              li.nav-item
                a.nav-link.active(id="custom-content-below-home-tab" data-toggle="pill" href="#custom-tabs-str" role="tab" aria-controls="custom-content-below-home" aria-selected="true" style="font-size:20px;") STR
              li.nav-item
                a.nav-link(id="custom-content-below-home-tab" data-toggle="pill" href="#custom-tabs-snp" role="tab" aria-controls="custom-content-below-home" aria-selected="true" style="font-size:20px;") SNP
            .tab-content(id="custom-tabs-form-tabContent")
              .tab-pane.fade(id="custom-tabs-snp" role="tabpanel")
                form(action="/coincidencias/snp", method="post", class="", id="snipFormCoincidencias")
                  .card
                    .card-body
                      include snip.pug
                    .card-footer
                      button(type="submit" id="consultarCoincidenciasSnip" class="btn btn-primary float-right ld-ext-right") Consultar
                        .ld.ld-ring.ld-spin
                      a(href="/" class="btn btn-default") Cancelar
              .tab-pane.fade.active.show(id="custom-tabs-str" role="tabpanel")
                form(action="/coincidencias/str", method="post", class="", id="strFormCoincidencias")
                  .card
                    .card-body
                      .row
                        .col-12
                          include str.pug
                    .card-footer
                      button(type="submit" id="consultarCoincidenciasStr" class="btn btn-primary float-right ld-ext-right") Consultar
                        .ld.ld-ring.ld-spin
                      a(href="/" class="btn btn-default") Cancelar
                
  div(class="modal" id="modal" tabindex="-1" role="dialog")
    div(class="modal-dialog" role="document")
      .modal-content
        .modal-header
          h5.modal-title Coincidencias
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p Por favor comuniquese con nuestra organización e indique cuales son los numeros de casos debajo para su muestra de ADN
          .table-responsive
            table#resultsTabe.table.table-striped
              thead
                th Número de caso
                th Documento de indentificación
              tbody

