nav.main-header.navbar.navbar-expand-md.navbar-light.navbar-white
  div.container
    a(href="/" class="navbar-brand") 
      span.brand-text.font-weight-light Orígenes
    div.collapse.navbar-collapse.order-3
      //- ul.navbar-nav
      //-   li.nav-item
      //-     a(href="/" class="nav-link") Inicio
    ul.order-1.order-md-3.navbar-nav.navbar-no-expand.ml-auto
      li.nav-item.dropdown
        a(href="/" class="nav-link" data-toggle="dropdown" style="left: inherit; right: 0px;")
          i.far.fa-user-circle
        div.dropdown-menu.dropdown-menu-lg.dropdown-menu-right
          a(href="/users/signIn" class="dropdown-item") Cerrar Sesión