extends ../layout

block content
  div.content-header
    div.container
      div.row.mb-2
        .col-sm-6
          h1= title
        .col-sm-6
          a(href="/" class="btn btn-default float-right") Volver

      .content
        .row
          .col-lg-12
            .card.py-2
              .card-body
                .row
                  .col-md-6
                    .row
                      form(action="/muestras/search", method="get", class="col-12" id="search-muestra-form")
                        .input-group.input-group-lg
                          input(type="text" name="documentId" class="form-control form-control-lg" placeholder="Ingrese el número de identificación")
                          span.input-group-append
                            button.btn.btn-default.ld-over(id="search-muestra-submit")
                              i.fas.fa-search.fa-fw(id="lupa-icon")
                              .ld.ld-ring.ld-spin
                  .col-md-6
                    span.card-title.align-middle(id="search-result")
                  .col-md-12 
                    p.text-muted.mt-2 Con el número de caso indicado el laboratorio procederá a analizar la muestra.