extends ../layout

block content
  div.content-header
    div.container
      div.row.mb-2
        div.col-sm-12
          h1= title
      if locals.message
        if message.error
          div(class="alert alert-danger" role="alert")
            strong Ha ocurrido un error al procesar la transacción:
            p Mensaje de error: #{message.error}
        if message.success
          div(class="alert alert-success" role="alert")
            strong Transacción realizada con éxito
            p= message.success
      
      .content
        //- .row
          .col-lg-12
            .card
              .card-body
                .row.justify-content-center
                  div
                    ul.nav.nav-pills.nav-fills(role="tablist")
                      li.nav-item.mx-2
                        a(class="btn btn-lg btn-default active" href="#custom-tabs-str" id="custom-tabs-form" data-toggle="pill" role="tab") STP
                      li.nav-item.mx-2
                        a(class="btn btn-lg btn-default" href="#custom-tabs-snp" id="custom-tabs-form" data-toggle="pill" role="tab") SNIP
        .row
          .col-lg-12
            

                ul.nav.nav-tabs(id="custom-content-below-tab" role="tablist")
                  li.nav-item
                    a.nav-link.active(id="custom-content-below-home-tab" data-toggle="pill" href="#custom-tabs-str" role="tab" aria-controls="custom-content-below-home" aria-selected="true" style="font-size:20px;") STR
                  li.nav-item
                    a.nav-link(id="custom-content-below-home-tab" data-toggle="pill" href="#custom-tabs-snp" role="tab" aria-controls="custom-content-below-home" aria-selected="true" style="font-size:20px;") SNIP

                .tab-content(id="custom-tabs-form-tabContent")
                  .tab-pane.fade(id="custom-tabs-snp" role="tabpanel")
                    form(action="/resultados/createSNP", method="post", class="", id="snipForm")
                      .card
                        .card-body
                          include snip.pug
                        .card-footer
                          button(type="submit" class="btn btn-primary float-right") Enviar
                          a(href="/" class="btn btn-default") Cancelar
                  .tab-pane.fade.active.show(id="custom-tabs-str" role="tabpanel")
                    form(action="/resultados/createSTR", method="post", class="" id="add-srt-result-form")
                      .card
                        .card-body
                          .row
                            .col-12
                              include str.pug
                        .card-footer
                          button(type="submit" class="btn btn-primary float-right") Enviar
                          a(href="/" class="btn btn-default") Cancelar
                
