.row
  .col-12
    input(type="text" id="1" name="caseNumber" class="form-control form-control-sm" placeholder="Ingrese el número de caso")
.row.d-flex.justify-content-md-around.my-1
  .col-1
    label 01
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1
    label 10
  .col-1
    input(type="text", id="1", name="marcadores[10]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[11]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[12]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[13]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[14]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[15]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[16]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[17]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[18]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[19]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1
    label 20
  .col-1
    input(type="text", id="1", name="marcadores[20]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[21]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[22]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[23]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[24]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[25]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[26]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[27]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[28]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(type="text", id="1", name="marcadores[29]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 30
  .col-1  
    input(type="text", id="1", name="marcadores[30]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[31]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[32]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[33]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[34]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[35]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[36]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[37]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[38]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[39]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 40
  .col-1  
    input(type="text", id="1", name="marcadores[40]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[41]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[42]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[43]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[44]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[45]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[46]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[47]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[48]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[49]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 50
  .col-1  
    input(type="text", id="1", name="marcadores[50]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[51]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[52]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[53]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[54]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[55]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[56]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[57]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[58]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[59]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 60
  .col-1  
    input(type="text", id="1", name="marcadores[60]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[61]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[62]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[63]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[64]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[65]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[66]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[67]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[68]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[69]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 70
  .col-1  
    input(type="text", id="1", name="marcadores[70]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[71]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[72]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[73]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[74]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[75]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[76]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[77]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[78]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[79]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 80
  .col-1  
    input(type="text", id="1", name="marcadores[80]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[81]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[82]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[83]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[84]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[85]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[86]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[87]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[88]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[89]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 90
  .col-1  
    input(type="text", id="1", name="marcadores[90]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[91]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[92]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[93]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[94]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[95]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[96]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[97]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[98]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[99]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 100
  .col-1  
    input(type="text", id="1", name="marcadores[100]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[101]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[102]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[103]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[104]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[105]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[106]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[107]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[108]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[109]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 110
  .col-1  
    input(type="text", id="1", name="marcadores[110]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[111]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[112]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[113]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[114]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[115]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[116]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[117]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[118]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[119]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 120
  .col-1  
    input(type="text", id="1", name="marcadores[120]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[121]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[122]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[123]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[124]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[125]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[126]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[127]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[128]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[129]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 130
  .col-1  
    input(type="text", id="1", name="marcadores[130]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[131]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[132]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[133]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[134]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[135]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[136]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[137]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[138]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[139]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 140
  .col-1  
    input(type="text", id="1", name="marcadores[140]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[141]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[142]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[143]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[144]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[145]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[146]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[147]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[148]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(type="text", id="1", name="marcadores[149]", style="width: 70px;", class="form-control form-control-sm")
