.row
  .col-12
    input(type="text" name="caseNumber" class="form-control form-control-sm" placeholder="Ingrese el número de caso")
br
.row.d-flex.justify-content-around
  .col-6
    .form-group.mb-2
      label(for="D3S1358") D3S1358
      input(type="hidden" id="D3S1358" name="marcador[1][]" class="form-control form-control-sm ml-1 mr-1" value="D3S1358")
      input(type="text" id="D3S1358" name="marcador[1][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D3S1358") -
      input(type="text" id="D3S1358" name="marcador[1][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="THO1") THO1
      input(type="hidden" id="THO1" name="marcador[2][]" class="form-control form-control-sm ml-1 mr-1" value="THO1")
      input(type="text" id="THO1" name="marcador[2][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="THO1") -
      input(type="text" id="THO1" name="marcador[2][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D21S11") D21S11
      input(type="hidden" id="D21S11" name="marcador[3][]" class="form-control form-control-sm ml-1 mr-1" value="D21S11")
      input(type="text" id="D21S11" name="marcador[3][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D21S11") -
      input(type="text" id="D21S11" name="marcador[3][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D18S51") D18S51
      input(type="hidden" id="D18S51" name="marcador[4][]" class="form-control form-control-sm ml-1 mr-1" value="D18S51")
      input(type="text" id="D18S51" name="marcador[4][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D18S51") -
      input(type="text" id="D18S51" name="marcador[4][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="PENTAE") PENTAE
      input(type="hidden" id="PENTAE" name="marcador[5][]" class="form-control form-control-sm ml-1 mr-1" value="PENTAE")
      input(type="text" id="PENTAE" name="marcador[5][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="PENTAE") -
      input(type="text" id="PENTAE" name="marcador[5][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D5S818") D5S818
      input(type="hidden" id="D5S818" name="marcador[6][]" class="form-control form-control-sm ml-1 mr-1" value="D5S818")
      input(type="text" id="D5S818" name="marcador[6][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D5S818") -
      input(type="text" id="D5S818" name="marcador[6][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D13S317") D13S317
      input(type="hidden" id="D13S317" name="marcador[7][]" class="form-control form-control-sm ml-1 mr-1" value="D13S317")
      input(type="text" id="D13S317" name="marcador[7][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D13S317") -
      input(type="text" id="D13S317" name="marcador[7][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D7S820") D7S820
      input(type="hidden" id="D7S820" name="marcador[8][]" class="form-control form-control-sm ml-1 mr-1" value="D7S820")
      input(type="text" id="D7S820" name="marcador[8][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D7S820") -
      input(type="text" id="D7S820" name="marcador[8][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D16S539") D16S539
      input(type="hidden" id="D16S539" name="marcador[9][]" class="form-control form-control-sm ml-1 mr-1" value="D16S539")
      input(type="text" id="D16S539" name="marcador[9][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D16S539") -
      input(type="text" id="D16S539" name="marcador[9][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="CSF1PO") CSF1PO
      input(type="hidden" id="CSF1PO" name="marcador[10][]" class="form-control form-control-sm ml-1 mr-1" value="CSF1PO")
      input(type="text" id="CSF1PO" name="marcador[10][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="CSF1PO") -
      input(type="text" id="CSF1PO" name="marcador[10][]" class="form-control form-control-sm ml-1")
  .col-6
    .form-group.mb-2
      label(for="PENTAD") PENTAD
      input(type="hidden" id="PENTAD" name="marcador[11][]" class="form-control form-control-sm ml-1 mr-1" value="PENTAD")
      input(type="text" id="PENTAD" name="marcador[11][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="PENTAD") -
      input(type="text" id="PENTAD" name="marcador[11][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="vWA") vWA
      input(type="hidden" id="vWA" name="marcador[12][]" class="form-control form-control-sm ml-1 mr-1" value="vWA")
      input(type="text" id="vWA" name="marcador[12][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="vWA") -
      input(type="text" id="vWA" name="marcador[12][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D8S1179") D8S1179
      input(type="hidden" id="D8S1179" name="marcador[13][]" class="form-control form-control-sm ml-1 mr-1" value="D8S1179")
      input(type="text" id="D8S1179" name="marcador[13][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D8S1179") -
      input(type="text" id="D8S1179" name="marcador[13][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="TPOX") TPOX
      input(type="hidden" id="TPOX" name="marcador[14][]" class="form-control form-control-sm ml-1 mr-1" value="TPOX")
      input(type="text" id="TPOX" name="marcador[14][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="TPOX") -
      input(type="text" id="TPOX" name="marcador[14][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="FGA") FGA
      input(type="hidden" id="FGA" name="marcador[15][]" class="form-control form-control-sm ml-1 mr-1" value="FGA")
      input(type="text" id="FGA" name="marcador[15][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="FGA") -
      input(type="text" id="FGA" name="marcador[15][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D19S433") D19S433
      input(type="hidden" id="D19S433" name="marcador[16][]" class="form-control form-control-sm ml-1 mr-1" value="D19S433")
      input(type="text" id="D19S433" name="marcador[16][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D19S433") -
      input(type="text" id="D19S433" name="marcador[16][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D1S1656") D1S1656
      input(type="hidden" id="D1S1656" name="marcador[17][]" class="form-control form-control-sm ml-1 mr-1" value="D1S1656")
      input(type="text" id="D1S1656" name="marcador[17][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D1S1656") -
      input(type="text" id="D1S1656" name="marcador[17][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D12S391") D12S391
      input(type="hidden" id="D12S391" name="marcador[18][]" class="form-control form-control-sm ml-1 mr-1" value="D12S391")
      input(type="text" id="D12S391" name="marcador[18][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D12S391") -
      input(type="text" id="D12S391" name="marcador[18][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="D2S1338") D2S1338
      input(type="hidden" id="D2S1338" name="marcador[19][]" class="form-control form-control-sm ml-1 mr-1" value="D2S1338")
      input(type="text" id="D2S1338" name="marcador[19][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="D2S1338") -
      input(type="text" id="D2S1338" name="marcador[19][]" class="form-control form-control-sm ml-1")
    .form-group.mb-2
      label(for="AMEL") AMEL
      input(type="hidden" id="AMEL" name="marcador[20][]" class="form-control form-control-sm ml-1 mr-1" value="AMEL")
      input(type="text" id="AMEL" name="marcador[20][]" class="form-control form-control-sm ml-1 mr-1")
      label(for="AMEL") -
      input(type="text" id="AMEL" name="marcador[20][]" class="form-control form-control-sm ml-1")
//- D5S818
//- D13S317
//- D7S820
//- D16S539
//- CSF1PO
//- PENTAD
//- vWA
//- D8S1179
//- TPOX
//- FGA
//- D19S433
//- D1S1656
//- D12S391
//- D2S1338
//- AMEL