doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title='Orígenes'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href="/images/favicon.png")
    //- link(rel="icon" href="http://seekorigins.com/wp-content/uploads/2020/07/cropped-LOGOWEB-32x32.png" sizes="32x32")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ldbtn.min.css')
    link(rel='stylesheet', href='/stylesheets/loading.min.css')
    link(rel='stylesheet', href='/vendor/admin-lte/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet', href='/vendor/admin-lte/plugins/fontawesome-free/css/all.min.css')
    link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel='stylesheet', href='/vendor/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='/vendor/admin-lte/dist/css/adminlte.min.css')
    link(rel='stylesheet', href='/vendor/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
    link(rel='stylesheet', href='/vendor/admin-lte/plugins/daterangepicker/daterangepicker.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700")
  body(class={"layout-top-nav layout-navbar-fixed hold-transition": currentUser, "hold-transition login-page": !currentUser })
    if currentUser
      div(class="wrapper")
        include shared/navbar.pug
        div(class="content-wrapper")
          block content
        footer.main-footer
          <strong>aeternity</strong>
          |  Puede ver las transacciones del contrato en el <a href="https://explorer.testnet.aeternity.io/contracts/transactions/ct_2QogBP7UnhVaZzSRcRWkxcnWrJ5B515BuAPsaefcooUvRhxexB"> explorador </a>
          //- <div class="float-right d-none d-sm-inline-block">
          //-   <b>Version</b> 3.0.3
    else
      div(class="login-box")
        div(class="login-logo")
        block content

    script(src="/vendor/admin-lte/plugins/jquery/jquery.min.js")
    script(src="/vendor/admin-lte/plugins/jquery-ui/jquery-ui.min.js")
    script.
      $.widget.bridge('uibutton', $.ui.button)
    script(src="/vendor/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/vendor/admin-lte/plugins/moment/moment.min.js")
    script(src="/vendor/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")
    script(src="/vendor/admin-lte/dist/js/adminlte.js")
    script(src="https://unpkg.com/@aeternity/aepp-sdk/dist/aepp-sdk.browser-script.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js")
    script(src="/javascripts/aeternity.bundle.js")