extends ../layout

block content
  .text-center
    if (currentUser.name === 'Admin' || currentUser.name === 'Operator')
      a(href="/muestras/new" class="btn btn-lg btn-primary mt-3") Muestras
    br
    if (currentUser.name === 'Admin' || currentUser.name === 'Lab')
      a(href="/resultados/new" class="btn btn-lg btn-primary mt-3") Resultados
    br
    if (currentUser.name === 'Admin' || currentUser.name === 'Viewer' || currentUser.name === 'Operator')
      a(href="/muestras/search" class="btn btn-lg btn-primary mt-3") Búsqueda de coincidencias