extends ../layout

block content
  .row
    //- .col-md-8
    .col-md-6.col-sm-6.col-xs-6
      .login-box.mb-5
        .login-logo
          //- img(src="/images/LOGOWEB.png" class="origenes-logo")
          b Orígenes
        .card
          .card-body.login-card-body
            p.login-box-msg Iniciar Sesión
            form(action='/users/signIn' method='post' id="loginForm")
              .input-group.mb-3
                input.form-control(type='text' name="username" placeholder='Usuario' id="username")
                .input-group-append
                  .input-group-text
                    span.fas.fa-user
              .input-group.mb-3
                input.form-control(type='password' name="password" id="password" placeholder='Contraseña')
                .input-group-append
                  .input-group-text
                    span.fas.fa-lock
              .row
                //- .col-md-8
                .col-md-12.col-sm-12.col-xs-12
                  button.btn.btn-primary.ld-ext-right.btn-block(id="submitLogin" type='submit') Entrar
                    .ld.ld-ring.ld-spin
